
<div class="container">
<h3>My Todo's</h3>
<br>


<div class="alert alert-warning" *ngIf="deleteMessage">  {{ deleteMessage }}  </div>

<table class="table">
  <thead class="thead-primary">
      <th scope="col">Id</th>
      <th scope="col">Description</th>
      <th scope="col">Target Date</th>
      <th scope="col">Status</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
      
  </thead>
  <tbody class="table-striped">
    <tr scope="row" *ngFor="let todo of todos">
      <th> {{todo.id}} </th>
      <td> {{todo.description}} </td>
      <td> {{todo.targetDate | date | uppercase }} </td>
      <td> {{todo.status}} </td>
      <td><button class="btn btn-success" (click) = "updateTodo(todo.id)">Update</button></td>
      <td><button class="btn btn-danger" (click) = "deleteTodo(todo.id)">Delete</button></td>
      
    </tr>
  </tbody>
  

</table>

<div class="row">
  <button class="btn btn-primary" (click)="createTodo()">Add Todo</button>
</div>
</div>
